*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 119, 46);
}

h1 {
  text-align: center;
}

img {
  cursor: pointer;
}

button {
  margin-top: 20px;
  cursor: pointer;
}

p {
  margin-top: 20px;
}

.hide {
  visibility: hidden;
}

/* Add to classlist on JS to ensure that the image won't be clickable after we changed from the original "field" image */
.off {
  pointer-events: none;
  cursor: default;
}
